@import url(https://fonts.googleapis.com/css?family=Oswald:400, 700);
body {
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    font: "Oswald", sans-serif;
    text-align: center;
}

.partyImg {
    width: 50%;
}

.menuDiv {
    margin-top: 40px;
}

.partyMenu {
    color: blue;
    position: relative;
}

.partyText,
.peopleParty {
    position: absolute;
}

.marvel {
    color: #c00;
}